body {
    background-image: url("items/background\ 2.0.png");
    font-family: 'Courier New', Courier, monospace;
  }

  h1 {
    color: #b566e7;
    text-align: center;
  }

  h2 {
    color: #918af3;
    text-align: center;
  }

  p {
    color: #ffffff;
    display: inline-block;
    text-align: center;
  }

  a {
    color: #ec85f6;
    display: block;
    align-items: center;
    padding-bottom: 2%;
    text-align: center;
  }

  a:hover {
    color:rgb(127, 81, 243);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .normal{
    border-style:double;
    border-color: aliceblue;
    width: 45%;
    margin: auto;
    text-align: center;
    margin-bottom: 1%;
    background-color: #191b348b;
 }

 .collapsible {
    background-color: #4b025b;
    color: #ffffff;
    cursor: pointer;
    padding: 1%;
    padding-bottom: 2%;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .active, .collapsible:hover {
    background-color: #5b53f3;
  }
  
  .content {
    padding: 0 1%;
    display: none;
    overflow: hidden;
    background-color: #191b348b;
  }

 footer {
    text-align: center;
    color: #ffffff;
  }